<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
	<title>Demandes de réservation envoyées</title>
	<link th:href="@{/css/toposutilisateur.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header">
		<nav class="navbar navbar-light bg-light">
			<div class="navbarcontent">
  				<a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" alt="Logo des amis de l'escalade"></a>
  				<form th:action="@{/recherche}" class="form-inline text-center">
    				<input class="form-control mr-sm-1" type="text" name="name" placeholder="Recherche" aria-label="Search">
    				<input type="submit" value="Rechercher" class="btn btn-primary"/>
  				</form>
  			</div>
		</nav>
	</div>

	<div id="container">
	
		<div class="sidebar">
			<a href="/" class="btn btn-dark">Accueil</a>
			<a th:href="@{/topos}" class="btn btn-dark">Topos</a>
			<a th:href="@{/spots}" class="btn btn-dark">Spots</a>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/panel}" class="btn btn-dark">Panel</a>
				<a href="/logout" class="btn btn-dark">Déconnexion</a>
			</div>
		</div>
		
		<h1>Demandes de réservation envoyées</h1>
	
		<table class="table">
  			<thead class="thead-dark">
    			<tr>
      				<th scope="col">#</th>
      				<th scope="col">Nom du propriétaire</th>
     				<th scope="col">Nom du topo</th>
      				<th scope="col">Date de début demandée</th>
      				<th scope="col">Date de fin demandée</th>
      				<th scope="col">Statut de la réservation</th>
      				<th scope="col"></th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr th:each="reservation : ${reservations}">
      				<th scope="row" th:text="${reservation.id}"></th>
      				<td th:text="${reservation.topo.utilisateur.username}"></td>
      				<td th:text="${reservation.topo.nom}"></td>
      				<td th:text="${reservation.dateDebutDemandee}"></td>
      				<td th:text="${reservation.dateFinDemandee}"></td>
      				<td th:text="${reservation.statut}"></td>
      				<td>
      					
						  <a class="btn btn-danger btn-sm" th:href="@{'/panel/demandesenvoyees/{cuserid}/delete/{id}'(cuserid=${cuserid},id=${reservation.id})}" role="button">Annuler</a>
						
      				</td>
    			</tr>
  			</tbody>
		</table>
	</div>

	<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    	<div class="container text-center">
      		<small>Copyright &copy; Les amis de l'escalade</small>
    	</div>
  	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>