<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
	<title th:text="${spot.nom}"></title>
	<link th:href="@{/css/fichetopo.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header">
		<nav class="navbar navbar-light bg-light">
			<div class="navbarcontent">
  				<a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" alt="Logo des amis de l'escalade"></a>
  				<form class="form-inline text-center">
    				<input class="form-control mr-sm-1" type="search" placeholder="Recherche" aria-label="Search">
  				</form>
  			</div>
		</nav>
	</div>
	
	<div class="sidebar">
		<a href="/" class="btn btn-dark">Accueil</a>
		<a th:href="@{/topos}" class="btn btn-dark">Topos</a>
		<a th:href="@{/spots}" class="btn btn-dark">Spots</a>
		<div sec:authorize="isAuthenticated()">
			<a href="panel" class="btn btn-dark">Panel</a>
			<a href="/logout" class="btn btn-dark">Déconnexion</a>
		</div>
	</div>
	
	<div class="content">
            <div class="container">
<div class="row">
        <div class="col-md-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">                                 
                                    <h2 th:text="${spot.nom}" class="text-center"></h2> <span th:if="${spot.officiel}" class="badge badge-pill badge-primary">Officiel</span>
                                </div>
                                <dl class="dl-horizontal">
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
									<dt>Topo lié :</dt> <dd><span class="label label-primary" th:text="${spot.nom}"></span></dd>
                                    <dt>Lieu :</dt> <dd th:text="${spot.lieu}"></dd>
                                    <dt>Nombre de voies :</dt> <dd th:text="${spot.nbvoies}"></dd>
                                    <dt>Cotations :</dt> <dd th:text="'De ' + ${spot.cotationmin} + ' à ' + ${spot.cotationmax}"></dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                	<img th:src="@{/img/spot.jpg}" alt="Spot image" width="100%">
            	
					                <h4>Description de l'évènement</h4>
					                <p class="small" th:text="${spot.description}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    
                                </dl>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                            <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">                                       
                                        <dl class="dl-horizontal pull-right">
                                    		<dt>Commentaires :</dt> <dd th:text="${#lists.size(commentaires)}">  </dd>
                                		</dl>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">

                            <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                <div class="feed-activity-list">
                                
                                	<div class="feed-element" sec:authorize="isAuthenticated()">                                       
                                        <div class="media-body ">
                                            <div class="well">
                                            	<form th:action="@{'/spot/{spotid}/commentaire'(spotid=${spot.id})}" th:object="${commentaire}" method="post">	
                                            		<input type="hidden" id="utilisateur.id" name="utilisateur.id" th:value="${cuserid}" />
                                            		<input type="hidden" id="spot.id" name="spot.id" th:value="${spot.id}" />
                                                	<textarea rows="3" class="form-control" id="message" name="message" th:field="*{message}"></textarea>
                                                	<input type="submit" class="btn btn-success btn-fill btn-sm pull-right" value="Envoyer le commentaire">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="feed-element" sec:authorize="!isAuthenticated()">                                       
                                        <div class="media-body ">
                                            <div class="well">
                                            	<form th:action="@{/login}" method="get">
                                                	<textarea rows="3" class="form-control" readonly></textarea>
                                                	<input type="submit" class="btn btn-success btn-fill btn-sm pull-right" value="Connectez-vous pour commenter">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="feed-element" th:each="commentaire : ${commentaires}">
                                        <div class="pull-left">
                                        </div>
                                        <div class="media-body ">
                                            <strong th:text="${commentaire.utilisateur.username}"></strong> a laissé un commentaire. <br>
                                            <small class="text-muted" th:text="${#dates.format(commentaire.dateParution, 'dd MMM yyyy à HH:mm')}"></small>
                                            <div class="well" th:text="${commentaire.message}"></div>
                                        </div>
                                    </div>                                   
                                </div>

                            </div>
                            </div>

                            </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="wrapper wrapper-content project-manager">
            	
            </div>
        </div>
    </div>
</div>
        </div>

	<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    	<div class="container text-center">
      		<small>Copyright &copy; Les amis de l'escalade</small>
    	</div>
  	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>