<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<title>Les amis de l'escalade</title>
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header">
		<nav class="navbar navbar-light bg-light">
			<div class="navbarcontent">
  				<a class="navbar-brand" href="/"><img src="img/logo.png" alt="Logo des amis de l'escalade"></a>
  				<div sec:authorize="!isAuthenticated()" class="form-inline text-right">
  					<a href="inscription">S'inscrire</a>
  					<a href="login">Se connecter</a>
  				</div>
  				
  				<div sec:authorize="isAuthenticated()">
  					<a href="/logout">Déconnexion</a>
  				</div>
  			</div>
		</nav>
	</div>

	<div id="container">
		<div sec:authorize="!isAuthenticated()">
			<div class="jumbotron col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-6 float-md-center">
  				<h1 class="display-4">Bienvenue !</h1>
  				<p class="lead">Rejoins la communauté des Amis de l'escalade pour nous partager tes meilleurs spots, échanger avec des passionnés et louer ce qu'ils proposent pour des sessions inoubliables !</p>
  				<hr class="my-4">
  				<p>Inscription rapide et gratuite.</p>
  				<a class="btn btn-success btn-lg" href="inscription" role="button">S'inscrire</a>
  				<a class="btn btn-outline-success btn-lg" href="login" role="button">Se connecter</a>
			</div>
		</div>
		
		<div sec:authorize="isAuthenticated()">
			<div class="jumbotron col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-6 float-md-center">
  				<h1 class="display-4">Bonjour, <span sec:authentication="name"></span> !</h1>
			</div>
		</div>

		<div class="sidebar">
			<a href="/" class="btn btn-dark">Accueil</a>
			<a th:href="@{/topos}" class="btn btn-dark">Topos</a>
			<a th:href="@{/spots}" class="btn btn-dark">Spots</a>
			<a th:href="@{/rechercheavancee}" class="btn btn-dark">Recherche</a>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/panel}" class="btn btn-dark">Panel</a>
				<a href="/logout" class="btn btn-dark">Déconnexion</a>
			</div>
		</div>
	</div>
	
	<div id="content">
		
    </div>

	<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    	<div class="container text-center">
      		<small>Copyright &copy; Les amis de l'escalade</small>
    	</div>
  	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>