<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<title>Inscription</title>
	<link href="css/inscription.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header">
		<nav class="navbar navbar-light bg-light">
			<div class="navbarcontent">
  				<a class="navbar-brand" href="/"><img src="img/logo.png" alt="Logo des amis de l'escalade"></a>
  				<form class="form-inline text-center">
    				<input class="form-control mr-sm-1" type="search" placeholder="Recherche" aria-label="Search">
  				</form>
  			</div>
		</nav>
	</div>

	<div id="container">
	
		<div class="sidebar">
			<a href="/" class="btn btn-dark">Accueil</a>
			<a th:href="@{/topos}" class="btn btn-dark">Topos</a>
			<a th:href="@{/spots}" class="btn btn-dark">Spots</a>
			<div sec:authorize="isAuthenticated()">
				<a href="panel" class="btn btn-dark">Panel</a>
				<a href="/logout" class="btn btn-dark">Déconnexion</a>
			</div>
		</div>
		
		<form action="#" th:action="@{/inscription}" th:object="${utilisateur}" method="post">
					
  			<div class="form-group">
    			<label for="username">Nom d'utilisateur</label>
    			<input type="text" class="form-control" id="username" th:field="*{username}">
  			</div>
  			
  			<div class="form-group">
    			<label for="password">Mot de passe</label>
    			<input type="password" class="form-control" id="password" th:field="*{password}">
  			</div>
  			
  			<div class="form-group">
    			<label for="email">Adresse email</label>
    			<input type="email" class="form-control" id="email" th:field="*{email}">
  			</div>
  			
  			<div class="form-group">
    			<label for="prenom">Prénom</label>
    			<input type="text" class="form-control" id="prenom" th:field="*{prenom}">
  			</div>
  			
  			<div class="form-group">
    			<label for="nom">Nom</label>
    			<input type="text" class="form-control" id="nom" th:field="*{nom}">
  			</div>
  			
  			<div class="form-group">
    			<label for="dateNaissance">Date de naissance</label>
    			<input type="date" class="form-control" id="dateNaissance" th:field="*{dateNaissance}">
  			</div>
  			
  			<div class="form-group">
    			<label for="numeroTelephone">Numéro de téléphone</label>
    			<input type="text" class="form-control" id="numeroTelephone" th:field="*{numeroTelephone}">
  			</div>
  			
  			<div class="form-group">
    			<label for="codePostal">Code postal</label>
    			<input type="text" class="form-control" id="codePostal" th:field="*{codePostal}">
  			</div>

			<div class="row">
				<div class="col text-center">
  					<input type="submit" name="Valider" value="Valider" class="btn btn-success btn-sm">
  					<input type="reset" value="Réinitialiser" class="btn btn-success btn-sm">
  				</div>
  			</div>
		</form>
	</div>

	<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    	<div class="container text-center">
      		<small>Copyright &copy; Les amis de l'escalade</small>
    	</div>
  	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>