<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
	<title>Modifier un staff spot</title>
	<link th:href="@{/css/addtopo.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header">
		<nav class="navbar navbar-light bg-light">
			<div class="navbarcontent">
  				<a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" alt="Logo des amis de l'escalade"></a>
  				<form class="form-inline text-center">
    				<input class="form-control mr-sm-1" type="search" placeholder="Recherche" aria-label="Search">
  				</form>
  			</div>
		</nav>
	</div>

	<div id="container">
	
		<div class="sidebar">
			<a href="/" class="btn btn-dark">Accueil</a>
			<a th:href="@{/topos}" class="btn btn-dark">Topos</a>
			<a th:href="@{/spots}" class="btn btn-dark">Spots</a>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/panel}" class="btn btn-dark">Panel</a>
				<a href="/logout" class="btn btn-dark">Déconnexion</a>
			</div>
		</div>
		
		<form action="#" th:action="@{/panel/staffspots/addspot}" th:object="${spot}" method="post">
			<input type="hidden" id="utilisateur.id" name="utilisateur.id" th:value="${spot.utilisateur.id}" />
			<input type="hidden" th:field="*{id}" />
  			<div class="form-group">
    			<label for="nom">Nom du spot</label>
    			<input type="text" class="form-control" id="nom" name="nom" th:value="${spot.nom}">
  			</div>
  			
  			<div class="form-group">
    			<label for="description">Description du spot</label>
    			<textarea class="form-control" id="description" name="description" rows="3" th:text="${spot.description}"></textarea>
  			</div>
  			
  			<div class="form-group">
    			<label for="lieu">Lieu du spot</label>
    			<input type="text" class="form-control" id="lieu" name="lieu" th:value="${spot.lieu}">
  			</div>
  			
  			<div class="form-group">
    			<label for="nbvoies">Nombre de voies</label>
    			<input type="text" class="form-control" id="nbvoies" name="nbvoies" th:value="${spot.nbvoies}">
  			</div>
  			
  			<div class="form-group">
    			<label for="cotationmin">Cotation min</label>
    			<input type="text" class="form-control" id="cotationmin" name="cotationmin" th:value="${spot.cotationmin}">
    			<label for="cotationmax">Cotation max</label>
    			<input type="text" class="form-control" id="cotationmax" name="cotationmax" th:value="${spot.cotationmax}">
  			</div>
  			
  			<div class="form-group">
    			<label for="officiel">Officiel</label>
    			<input type="checkbox" class="form-control" id="officiel" th:field="*{officiel}">
  			</div>
  			
  			<input type="submit" name="Valider" value="Valider">
  			<input type="reset" value="Réinitialiser">
		</form>
	</div>
	
	<h2 th:text="${cuserid}"></h2>

	<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    	<div class="container text-center">
      		<small>Copyright &copy; Les amis de l'escalade</small>
    	</div>
  	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>